### Django ###
*.log
*.pot
__pycache__/
local_settings.py
*.pyc
db.sqlite3
.idea
.vscode
# User-specific stuff:
.idea
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
# dotenv environment variables file
.env
.venv
git rm --cached /path/to/file
*.zip

### macOS ###
.DS_Store
.AppleDouble
.LSOverride
